<div id="top-bar">
    <div class="container">
        <div class="justify">
            <div class="logo">
                <a routerLink="/index">
                    <img src="assets/images/logo.png">
                </a>
            </div>
            <div class="top-nav">
                <ul>
                    <li><a routerLink="/city">City</a></li>
                    <li><a routerLink="/itinerary">Itinerary</a></li>
                    <li><a routerLink="/community">Community</a></li>
                    <li *ngIf="!userInfo"><a routerLink="/login">Login</a></li>
                    <li *ngIf="userInfo"><a routerLink="/user">Profile</a></li>
                    <li *ngIf="userInfo"><a routerLink="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>