<div class="footer">
    <div class="container">
        <div class="social-links center">
            <div class="social-link">
                <a href="https://www.facebook.com/taiwanholic.trip/">
                    <img src="assets/images/facebook.png">
                </a>
            </div>
            <div class="social-link">
                <a href="https://twitter.com/taiwanholic">
                    <img src="assets/images/twitter.png">
                </a>
            </div>
            <div class="social-link">
                <a href="https://www.instagram.com/taiwan.holic/?hl=enc">
                    <img src="assets/images/instagram.png">
                </a>
            </div>
            <div class="social-link">
                <a href="#">
                    <img src="assets/images/youtube.png">
                </a>
            </div>
        </div>

        <div class="contact center">
            <span>CONTACT US｜</span>
            <span class="mail-action">
                <i class="glyphicon glyphicon-envelope"></i> taiwanholicmister@gmail.com
            </span>
        </div>
    </div>
</div>