<div class="container">

    <h2 class="page-title center">Explore Taiwan</h2>

    <div id="feature-nav">
        <nav class="center">
            <ul>
                <li><a routerLink="northern/food">Food</a></li>
                <li><a routerLink="northern/fun">Fun</a></li>
                <li><a routerLink="northern/stay">Stay</a></li>
                <li><a routerLink="northern/trans">Transportation</a></li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-6 city">
            <a routerLink="northern"><img src="assets/images/north.jpg"></a>
            <h3 class="city-title">Northern Taiwan</h3>
            <div>
                <p class="city-paragraph">Here, you can enjoy the cityscape (Taipei), different types of hot spring, the special landscape of rocky coast, and maybe experience Hakka culture (Hsinchu).</p>
            </div>
        </div>

        <div class="col-md-6 city">
            <a routerLink="mid"><img src="assets/images/mid.jpg"></a>
            <h3 class="city-title">Mid-Taiwan</h3>
            <div>
                <p class="city-paragraph">This area is famous for Hakka Culture (Miaoli), nature landscapes (Nantou and Yunlin), nature-related museums (Taichung), and of course cityscape (Taichung).</p>
            </div>
        </div>

        <div class="col-md-6 city">
            <a routerLink="southern"><img src="assets/images/south.jpg"></a>
            <h3 class="city-title">Southern Taiwan</h3>
            <div>
                <p class="city-paragraph">Southern Taiwan is very famous for the delicacies (Tainan and Kaohsiung), nature landscapes (Alishan, Chiayi), and water activities (Kenting, Pingtung), history and culture (Tainan).</p>
            </div>
        </div>

        <div class="col-md-6 city">
            <a routerLink="eastern"><img src="assets/images/east.jpg"></a>
            <h3 class="city-title">Eastern TAIWAN</h3>
            <div>
                <p class="city-paragraph">Eastern Taiwan is famous for the astonishing landscapes and the relaxing atmosphere. The must-visited spot is of course Taroko Gorge, but there’s still lots of places worth going!</p>
            </div>
        </div>

        <div class="col-md-6 city">
            <a routerLink="eastern"><img src="assets/images/offshore.jpg"></a>
            <h3 class="city-title">Offshore Island <small>(Comming soon...)</small></h3>
            <div class="city-paragraph">
                <p>There are five main outlying islands that you must visit in Taiwan. The scenery of the outlying islands is different from the Main Island.</p>
            </div>
        </div>
    </div>
</div>